body{
    font-family: 'Circe';
    font-weight: 400;
    line-height: 1.28;
    color: var(--color-dark);

}

.shop-prevPrice{
    font-size: 16px;
    text-decoration: line-through;
    color: var(--color-blac-80);
}

.section{
    padding-block: 68px;
}
