:root{
    --color-blue: #0e6cdd;
    --color-blue-transparent: rgba(14, 108, 221, 0.2);
    --color-blue-transparent-alt: rgba(14, 108, 221, 0.5);
    --color-blue-transparent-card: rgba(14, 108, 221, 0.05);
    --color-dark-blue: #005CCC;

    --color-dark: #333;

    --color-bg: #F1F6FD;

    --color-blac-80: #7D7D7D;
    --color-black-30: #EDEDED;

    --color-green: #34A853;
    --color-white: #fff;
    --color-red: #E31E24;
    --color-strawberry: #FB6340;

    --color-dark-yellow: #FFCA00;



    --border-radius-6px: 6px;
    --border-radius-4px: 4px;


    --container-width: 1724px;
    --section-padding-y: 68px;
}