@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Circe";
  src: url("../../public/fonts/Circe-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../../public/fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circe";
  src: url("../../public/fonts/Circe-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Circe";
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
}

.shop-prevPrice {
  font-size: 16px;
  text-decoration: line-through;
  color: var(--color-blac-80);
}

.shop-currentPrice {
  font-size: 30px;
}

.sp-block-black-80 {
  font-size: 14px;
  color: var(--color-blac-80);
}

.h1-custom {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  max-width: 552px;
}

.heade-menu {
  font-size: 18px;
  line-height: 32px;
}

.sticker-bg--green {
  background-color: var(--color-green);
}

.sticker-bg--red {
  background-color: var(--color-red);
}

.sticker-bg--strawberry {
  background-color: var(--color-strawberry);
}

.sticker-bg--blue {
  background-color: var(--color-blue);
}

:root {
  --color-blue: #0e6cdd;
  --color-blue-transparent: rgba(14, 108, 221, 0.2);
  --color-blue-transparent-alt: rgba(14, 108, 221, 0.5);
  --color-blue-transparent-checkbox: rgba(14, 108, 221, 0.3);
  --color-blue-transparent-card: rgba(14, 108, 221, 0.05);
  --color-dark-blue: #005CCC;
  --color-dark: #333;
  --color-bg: #F1F6FD;
  --color-blac-80: #7D7D7D;
  --color-black-70: #9B9B9B;
  --color-black-60: #B6B6B6;
  --color-black-30: #EDEDED;
  --color-green: #34A853;
  --color-white: #fff;
  --color-red: #E31E24;
  --color-strawberry: #FB6340;
  --color-dark-yellow: #FFCA00;
  --color-yellow-transparent: rgb(255, 215, 64, 0.25);
  --color-yellow-active: rgb(255, 215, 64, 0.6);
  --border-radius-6px: 6px;
  --border-radius-4px: 4px;
  --container-width: 1724px;
  --section-padding-y: 68px;
}

.container {
  max-width: var(--container-width);
  padding-right: 20px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.section {
  padding-block: 68px;
}
.section__info {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 40px;
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__title {
  font-size: 30px;
  font-weight: 400;
}
.section__list {
  display: flex;
  align-items: start;
  overflow: hidden;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  max-width: 1840px;
  margin-inline: auto;
  padding: 32px 40px;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  text-decoration: none;
  color: #333;
  margin-right: 40px;
  white-space: nowrap;
}
.header__logo-name {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header__logo-title {
  font-size: 18px;
}
.header__user-info {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1725px) {
  .header__user-info {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.header__user-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}
.header__user-item svg {
  color: #0E6CDD;
}
.header__search {
  width: 50%;
  margin-right: 32px;
}
@media (max-width: 1725px) {
  .header__search {
    width: 45%;
  }
}
@media (max-width: 1580px) {
  .header__search {
    width: 40%;
  }
}
@media (max-width: 1400px) {
  .header__search {
    width: 30%;
    margin-right: 16px;
  }
}
.header__search-input {
  width: 100%;
  max-width: 964px;
  height: 48px;
  padding-inline: 20px;
  border: 2px solid rgba(14, 108, 221, 0.3);
  border-radius: 6px;
  color: #005CCC;
}
.header__search-input::-moz-placeholder {
  color: #005CCC;
  opacity: 0.3;
}
.header__search-input::placeholder {
  color: #005CCC;
  opacity: 0.3;
}
.header__search-input:focus {
  border-color: #0E6CDD;
  outline: none;
}
.header__category-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 1725px) {
  .header__category-list {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
@media (max-width: 1580px) {
  .header__category-item:nth-child(n+10) {
    display: none;
  }
}
@media (max-width: 1280px) {
  .header__category-item:nth-child(n+9) {
    display: none;
  }
}
.header__category-link {
  color: #00479C;
  text-decoration: none;
}
.header__category-link:hover {
  color: #0E6CDD;
}

.logo__images {
  width: 60px;
}

.banner {
  background-color: var(--color-bg);
  padding: 36px 0;
}
.banner__container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.banner__inner {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  max-height: 320px;
}
.banner__swiper {
  width: 75%;
  height: 100%;
}
.banner__slide {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--color-dark-yellow);
  width: 100%;
  max-width: 1272px;
  border-radius: var(--border-radius-6px);
}
.banner__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 72px;
  padding-bottom: 92px;
  max-height: 320px;
}
.banner__title {
  width: 552px;
  font-size: 40px;
  font-weight: 400;
}
.banner__subtitle {
  color: var(--color-dark-blue);
}
.banner__bg {
  position: absolute;
  left: 50%;
  background-color: var(--color-dark-yellow);
  width: 10%;
  height: 100%;
  transform: skewX(-10deg);
}
.banner__content-image {
  height: 100%;
  width: 100%;
}
.banner__image {
  border-radius: var(--border-radius-6px);
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__pagination {
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.banner__item-pg {
  width: 8px;
  height: 8px;
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0.3;
}
.banner__item-pg:hover {
  opacity: 0.8;
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__image {
  -o-object-fit: contain;
     object-fit: contain;
}
.product__head-middle {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.product__head-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.product__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
}
.product__stiker {
  border-radius: var(--border-radius-6px);
  margin-right: 8px;
  font-size: 14px;
  padding: 1px 16px;
  color: var(--color-white);
}
.product__number {
  color: var(--color-blac-80);
}
.product__number span {
  color: #333;
}
.product__detail {
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
  font-size: 14px;
}
.product__rating svg {
  color: var(--color-dark-yellow);
  margin-right: 12px;
}
.product__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.product__button i {
  color: var(--color-blue);
  margin-right: 12px;
}
.product__button svg {
  color: var(--color-blue);
  margin-right: 12px;
}
.product__button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.product__favorite {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.product-title__list {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.product-title__item {
  margin-bottom: 20px;
}
.product-title__item span {
  margin-right: 5px;
}
.product-title__link {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
  cursor: pointer;
}
.product-title__link span {
  margin-right: 5px;
}
.product-title__link:hover {
  color: var(--color-blue);
}

.info-block {
  width: 100%;
}
.info-block__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 72px;
}
.info-block__slider {
  display: flex;
  align-items: center;
  gap: 68px;
}
.info-block__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.info-block__item {
  width: 76px;
  height: 76px;
  padding: 8px;
}
.info-block__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.info-block__swiper-main {
  max-width: 552px;
}
.info-block__details {
  max-width: 408px;
  width: 100%;
}
.info-block__character {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  align-items: center;
  position: relative;
  white-space: nowrap;
}
.info-block__character::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  z-index: 1;
  bottom: 8px;
  border-bottom: 1px dashed var(--color-blac-80);
}
.info-block__character p {
  color: var(--color-black-70);
  max-width: 220px;
  overflow: hidden;
  line-height: 28px !important;
  z-index: 2;
  background-color: var(--color-white);
}

.cart {
  min-width: 408px;
  margin-left: 24px;
}
.cart svg {
  color: var(--color-blue);
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
}
.cart__personal {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 20px 32px;
  border: 1px solid var(--color-blue-transparent);
  border-radius: var(--border-radius-6px);
  margin-bottom: 12px;
}
.cart__personal-title {
  max-width: 308px;
}
.cart__currentPrice {
  margin-bottom: 4px;
}
.cart__attr {
  color: var(--color-blac-80);
  max-width: 324px;
  font-size: 12px;
}
.cart__button-alt {
  max-width: 380px;
  width: 100%;
  border: 1px solid var(--color-blue-transparent);
  border-radius: var(--border-radius-6px);
  background-color: transparent;
  padding: 8px 20px;
  cursor: pointer;
  height: 52px;
  transition: 0.2s;
}
.cart__button-alt:hover {
  background-color: var(--color-blue-transparent);
}
.cart__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 36px 32px;
  border-radius: var(--border-radius-6px) var(--border-radius-6px) 0 0;
  background-color: var(--color-blue-transparent-card);
}
.cart__sale {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  border-top: 1px solid var(--color-blue-transparent);
  border-radius: 0 0 var(--border-radius-6px) var(--border-radius-6px);
  background-color: var(--color-blue-transparent-card);
  padding: 20px 32px 24px;
  margin-bottom: 12px;
}
.cart__sale-info span {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blac-80);
}
.cart__footer {
  border-radius: var(--border-radius-6px);
  background-color: var(--color-blue-transparent-card);
  padding: 20px 32px;
}
.cart__footer-info {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 16px;
}
.cart__footer-info:last-child {
  margin-bottom: 0;
}

.catalog__inner {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.catalog__select {
  padding: 6px 20px;
  border: 1px solid var(--color-blue-transparent);
  border-radius: var(--border-radius-6px);
}

.catalog-filter {
  width: 100%;
  max-width: 240px;
}
.catalog-filter::-webkit-scrollbar {
  display: none;
}
.catalog-filter__body {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.catalog-product {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.catalog-product__head {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.catalog-product__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
.catalog-product__footer {
  margin-bottom: 60px;
}
.catalog-product__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-product__button {
  cursor: pointer;
  height: 44px;
  text-align: center;
  padding: 10px 70px;
  width: 100%;
  max-width: 552px;
  border: 1px solid var(--color-blue-transparent);
  background-color: var(--color-white);
  transition: 0.2s;
}
.catalog-product__button:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}
.catalog-product__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.catalog-product__name {
  font-size: 24px;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */