.catalog {
    &__inner {
      display: flex;
      column-gap: 24px;
    }
  
    &__select {
      padding: 6px 20px;
      border: 1px solid var(--color-blue-transparent);
      border-radius: var(--border-radius-6px);
    }
  }
  
  .catalog-filter {
    width: 100%;
    max-width: 240px;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    &__body {
      display: flex;
      flex-direction: column;
      row-gap: 28px;
    }
  }
  
  .catalog-product {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  
    &__head {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }
  
    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 24px;
    }
  
    &__footer {
      margin-bottom: 60px;
    }
  
    &__pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__button {
      cursor: pointer;
      height: 44px;
      text-align: center;
      padding: 10px 70px;
      width: 100%;
      max-width: 552px;
      border: 1px solid var(--color-blue-transparent);
      background-color: var(--color-white);
      transition: 0.2s;
  
      &:hover {
        color: var(--color-white);
        background-color: var(--color-blue);
      }
    }
  
    &__info-block {
      display: flex;
      flex-direction: column;
      row-gap: 36px;
    }
  
    &__name {
      font-size: 24px;
      font-weight: 400;
    }
}