.header{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    max-width: 1840px;
    margin-inline: auto;
    padding: 32px 40px;

    &__inner{
        display: flex;
        align-items: center;
    }

    &__logo{
        display: flex;
        align-items: center;
        column-gap: 16px;
        text-decoration: none;
        color: #333;
        margin-right: 40px;
        white-space: nowrap;
    }

    &__logo-name{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__logo-title{
        font-size: 18px;
    }

    &__user-info{
        display: flex;
        align-items: center;
        column-gap: 32px;

        @include desktop-alt{
            column-gap: 16px;
        }
    }

    &__user-item{
        display: flex;
        align-items: center;
        column-gap: 16px;
        color: #333;
        text-decoration: none;
        white-space: nowrap;

        svg{
            color: #0E6CDD;
        }
    }

    &__search{
        width: 50%;
        margin-right: 32px;

        @include desktop-alt{
            width: 45%;
        }
        @media(max-width: 1580px){
            width: 40%;
        }

        @media (max-width: 1400px){
            width: 30%;
            margin-right: 16px;
        }
    }


    &__search-input{
        width: 100%;
        max-width: 964px;
        height: 48px;
        padding-inline: 20px;
        border: 2px solid rgba(14, 108, 221, 0.3);
        border-radius: 6px;

        color: #005CCC;
        
        &::placeholder{
            color: #005CCC;
            opacity: 0.3;
        }

        &:focus{
            border-color: #0E6CDD;
            outline: none;
        }
    }

    &__category-list{
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        align-items: center;
        overflow: hidden;

        @include desktop-alt{
            column-gap: 8px;
        }
    }

    &__category-item{
        @media(max-width: 1580px){
            &:nth-child(n + 10){
                display: none;
            }
        }

        @include desktop{
            &:nth-child(n + 9){
                display: none;
            }
        }
    }

    &__category-link{
        color: #00479C;
        text-decoration: none;

        &:hover{
            color: #0E6CDD;
        }
    }
}

.logo__images{
    width: 60px;
}