.product-day {
    background-color: var(--color-white);
    border-radius: var(--border-radius-6px);
    padding: 31px 32px 28px 40px;
  
    &__time {
      display: flex;
      column-gap: 70px;
      margin-bottom: 15px;
  
      h3{
        white-space: nowrap;
          font-size: 24px;
          font-weight: 400;
          margin: 0;
      }
    }
  
  
    &__content {
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-family: "Circe";
      font-weight: 700;
      line-height: 1.28;
    }
  
    &__item {
      background-color: var(--color-black-30);
      border-radius: var(--border-radius-6px);
      padding: 6px 8px;
    }
  
    &__info{
      display: flex;
      align-items: center;
      column-gap: 40px;
    }
  
    &__right{
      display: flex;
      flex-direction: column;
      p{
          max-width: 159px;
          margin-bottom: 6px;
      }
      span{
        white-space: nowrap;
      }
  
    }
  
    &__rating{
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 2px;
    }
  
    &__stars{
      display: flex;
      align-items: center;
      column-gap: 4px;
    }


    @media(max-width: 1600px){
        display: none;
    }
  }