.section{
  padding-block: 68px;

  &__info{
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin-bottom: 40px;
  }

  &--hidden-x{
    overflow-x: hidden;
  }

  &__title{
    font-size: 30px;
    font-weight: 400;
  }
  
  &__list{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
  }
}
